.input {
    font-size: .875rem;

    background-color: var(--gray-900);
    border-radius: var(--border-radius);
    transition: .2s;
    display: flex;
    align-items: center;
    color: var(--gray-300);
    padding: .75rem 1rem;
    max-width: 100%;
    font-size: .875rem;
    max-height: 100%;

    &:focus-within {
        box-shadow: 0 0 0 2px var(--primary-500);
    }
  
    input {
        background-color: initial;
        border: 0;
        outline: 0;
        color: var(--gray-100);
        width: 100%;
    }
}

.input_sm {
    height: 38px;

}

.input_md {

    height: 46px;
}