.btn {
    border-radius: var(--border-radius);
    border: none;
    transition: .2s filter;
    min-width: 120px;
    padding: 0 1rem;
    font-size: .875rem;

    background-color: var(--primary-500);
    color: var(--gray-50);
    font-weight: 600;
    

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    &:hover {
        filter: brightness(.85);
    }

    &:disabled {
        background-color: var(--gray-200);
    }
}

.button_sm {
    height: 38px;
}

.button_md {
    height: 46px;
}