.connectcalendar {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  border: 2px solid var(--gray-700);
  background-color: var(--gray-800);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__connect {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: 2px solid var(--gray-700);

    display: flex;
    align-items: center;
    justify-content: space-between;

    strong {
      font-size: 1rem;
    }
  }
}